<div class="container  d-flex justify-content-center" style=" height: 550px ;margin-top: 20px;">
      <!-- Default form login -->
      <form class="text-center border border-light p-5" style="height:543px;width: 500px;">
        <p class="text-center">Rent Product</p>

          <input type="text"  class="form-control mb-4"  placeholder="Prodcut Name">
    
          <input type="text"  class="form-control mb-4" placeholder="Product Cost">

          <input type="text"  class="form-control mb-4" placeholder="Prodcut Brand">
          
          <p class="text-left" >Start Date</p>
          <input type="text"  class="form-control mb-4" placeholder="dd/mm/year">
          <p class="text-left" >End Date</p>
          <input type="text"  class="form-control mb-4" placeholder="dd/mm/year">
          
      
          <!-- Sign in button -->
          <button class="block blue-gradient" type="submit">Rent</button>
      
      </form>
      <!-- Default form login -->
      </div>
      