<div class="body">
  <br>
<div class="row">
  <div class="col-md-5">

  </div>
  <div class="col-md-2">
      <h2 class="text-center head"><b>About Us</b></h2>

  </div>

  <div class="col-md-5">

  </div>
</div>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
      <h5 class="text-center head"><b>Our reputation and experience set us apart</b></h5>

  </div>
</div>
<section id="about1">
  <div class="container" id="r1">
      <div class="row" >
          <div class="col-lg-6">
              <h4 class="head">1. Be passionate about what we do + know our stuff inside and out.</h4>
              <p>Our work isn’t just a job, it’s our chosen career. We love what we do. And because we love it, we are always looking to learn and grow in our expertise. It’s fun for us and it results in better work for our clients.</p>
          </div>
          <div class="col-lg-6">
              <h4 class="head">2. Work towards client successes.</h4>
              <p>We want our clients to be happy at the end of the project and achieve their goals. When a project runs smoothly and our clients are achieving their goals, we are happy too.</p>
          </div>

      </div>

      <div class="container">
          <div class="row">
              <h2>

              </h2>
          </div>
      </div>
  </div>
</section>

<section id="about">
  <div class="container" id="r2">
      <div class="row">
          <div class="col-lg-6">
              <h4 class="head">3. Set expectations clearly from the beginning.</h4>
              <p>We don’t think it’s impressive to toss out lots of technology terms and trendy vocabulary. In fact, that can be downright confusing. We believe in straightforward planning sessions with concrete objectives and clear expectations.</p>
          </div>
          <div class="col-lg-6">
              <h4 class="head">4. Get to the root of a problem and solve it.</h4>
              <p>When the occasional roadblock appears, our team assesses the situation and develops strategic solutions. No problem is too big or small</p>
          </div>

      </div>

      <div class="container">
          <div class="row">
              <h2>

              </h2>
          </div>
      </div>
  </div>
</section>
<section id="about">
  <div class="container" id="r1">
      <div class="row">
          <div class="col-lg-6">
              <h4 class="head">5. Approach clients with honesty and confidence.</h4>
              <p>We work with our clients the same way that we want to be approached. We present clear, honest assessments throughout the project. And we do so with the confidence that our experience brings...then we back it up by tracking real results
                  and conversions. </p>
          </div>
          <div class="col-lg-6">
              <h4 class="head">6. Work hard. Love life.</h4>
              <p>We are refreshed and committed Internet marketing professionals from designers to coders to writers. But we are also active, thriving people with interests away from work. We are runners, wine drinkers, parents, sports fans, hikers, photographers,
                  volunteers and coaches. We love what we do in and out of the office and believe that makes us more successful. </p>
          </div>

      </div>

      <div class="container">
          <div class="row">
              <h2>

              </h2>
          </div>
      </div>
  </div>
</section>
<br>
</div>