<div class="container">
  <div class="row" style="margin-top:10px">
    <div class="col-md-4">
      <!-- Card -->
<div class="card" _ngcontent="">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="../../../assets/7.jpg" alt="Card image cap">
  </div>
  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">Mahindra YUVO</h4>
    <!-- Text -->
    <p class="card-text">39HP,2048CC,8 FORWARD+2 REVERSE GEAR BOX,PRICE:4.95-5.25lac*</p>
    <!-- Button -->
    <a routerLink="/order" class="btn btn-primary">Order</a>
    <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
  </div>

</div>
<!-- Card -->
    </div>
    <div class="col-md-4">
      <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="../../../assets/3.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">EICHER</h4>
    <!-- Text -->
    <p class="card-text">333 SUPER DI,35 HP,2365 CC,8 FORWARD+2 REVERSE GEAR BOX,PRICE:1.5-2 lac</p>
    <!-- Button -->
    <a routerLink="/order" class="btn btn-primary">Order</a>
    <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>

  </div>

</div>
<!-- Card -->
    </div>
    <div class="col-md-4"><!-- Card -->
      <div class="card">
      
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../../../assets/2.png" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title">SONALIKA</h4>
          <!-- Text -->
          <p class="card-text">333 SUPER DI,25 HP,2067 CC,8 FORWARD+2 REVERSE GEAR BOX,PRICE:1.0-1.5 lac</p>
          <!-- Button -->
          <a routerLink="/order" class="btn btn-primary">Order</a>
          <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
      
        </div>
      
      </div>
      <!-- Card --></div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-4">
        <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="../../../assets/10.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title">HARVESTOR</h4>
      <!-- Text -->
      <p class="card-text">SPEED GENERATOR,337A-MODEL,PRICE:1.0-2.0lac</p>
      <!-- Button -->
      <a routerLink="/order" class="btn btn-primary">Order</a>
      <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
  
    </div>
  
  </div>
  <!-- Card -->
      </div>
      <div class="col-md-4">
        <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="../../../assets/1.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title">PADDY HARVESTOR</h4>
      <!-- Text -->
      <p class="card-text">1235 CC,VEHICLE TIEABLE,PRICE:2-3lac</p>
      <!-- Button -->
      <a routerLink="/order" class="btn btn-primary">Order</a>
      <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
  
    </div>
  
  </div>
  <!-- Card -->
      </div>
      <div class="col-md-4"><!-- Card -->
        <div class="card">
        
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../../../assets/9.png" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title">HOE HARVESTOR</h4>
            <!-- Text -->
            <p class="card-text">SOIL BLASTY,1480 CC,PRICE: 85,370</p>
            <!-- Button -->
            <a routerLink="/order" class="btn btn-primary">Order</a>
            <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
        
          </div>
        
        </div>
        <!-- Card --></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
          <!-- Card -->
  <div class="card">
  
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/7.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <!-- Card content -->
      <div class="card-body">
    
        <!-- Title -->
        <h4 class="card-title">THRESHER</h4>
        <!-- Text -->
        <p class="card-text">VEHICLE TIEABLE,300 Kilo,PRICE:2.5lac</p>
        <!-- Button -->
        <a routerLink="/order" class="btn btn-primary">Order</a>
        <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
    
      </div>
    
    </div>
    <!-- Card -->
        </div>
        <div class="col-md-4">
          <!-- Card -->
  <div class="card">
  
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/12.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <!-- Card content -->
      <div class="card-body">
    
        <!-- Title -->
        <h4 class="card-title">SPRINKLER</h4>
        <!-- Text -->
        <p class="card-text">ROUNDABLE,20 L,PRICE:29,499</p>
        <!-- Button -->
        <a routerLink="/order" class="btn btn-primary">Order</a>
        <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
    
      </div>
    
    </div>
    <!-- Card -->
        </div>
        <div class="col-md-4"><!-- Card -->
          <div class="card">
          
            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="../../../assets/10.jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!-- Card content -->
            <div class="card-body">
          
              <!-- Title -->
              <h4 class="card-title">CAULI FLOWER</h4>
              <!-- Text -->
              <p class="card-text">HIGH YIELDED,1 KILO,PRICE:199</p>
              <!-- Button -->
              <a routerLink="/order" class="btn btn-primary">Order</a>
              <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
          
            </div>
          
          </div>
          <!-- Card -->
        </div>
          
      </div>
</div>