<div class="container">
  <div class="row" style="margin-top:10px">
    <div class="col-md-4">
      <!-- Card -->
  <div class="card" _ngcontent="">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="../../../assets/o1.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">HARVESTOR</h4>
    <!-- Text -->
    <p class="card-text">  SPEED GENERATOR,337A-MODEL,PRICE:1.0-2.0lac  </p>
    <!-- Button -->
    <a routerLink="/order" class="btn btn-primary">Order</a>
    <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
  </div>

</div>
<!-- Card -->
    </div>
    <div class="col-md-4">
      <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="../../../assets/o2.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">MILLER</h4>
    <!-- Text -->
    <p class="card-text"> MAHINDRA EXO,PRICE: 19,599   </p>
    <!-- Button -->
    <a routerLink="/order" class="btn btn-primary">Order</a>
    <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>

  </div>

</div>
<!-- Card -->
    </div>
    <div class="col-md-4"><!-- Card -->
      <div class="card">
      
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../../../assets/o3.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title">SOIL PLOUGHER</h4>
          <!-- Text -->
          <p class="card-text">MAHINDRA EXO,PRICE: 20,599.</p>
          <!-- Button -->
          <a routerLink="/order" class="btn btn-primary">Order</a>
          <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
      
        </div>
      
      </div>
      <!-- Card --></div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-4">
        <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="../../../assets/o2.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title">Tractor</h4>
      <!-- Text -->
      <p class="card-text">MAHINDRA EXO,PRICE: 15,599</p>
      <!-- Button -->
      <a routerLink="/order" class="btn btn-primary">Order</a>
      <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
  
    </div>
  
  </div>
  <!-- Card -->
      </div>
      <div class="col-md-4">
        <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="../../../assets/o4.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title">Tractor</h4>
      <!-- Text -->
      <p class="card-text">MAHINDRA EXO,PRICE: 16,599</p>
      <!-- Button -->
      <a routerLink="/order" class="btn btn-primary">Order</a>
      <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
  
    </div>
  
  </div>
  <!-- Card -->
      </div>
      <div class="col-md-4"><!-- Card -->
        <div class="card">
        
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../../../assets/o3.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title">SOIL PLOUGHER</h4>
            <!-- Text -->
            <p class="card-text">MAHINDRA EXO,PRICE: 30,599</p>
            <!-- Button -->
            <a routerLink="/order" class="btn btn-primary">Order</a>
            <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
        
          </div>
        
        </div>
        <!-- Card --></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
          <!-- Card -->
  <div class="card">
  
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/o2.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <!-- Card content -->
      <div class="card-body">
    
        <!-- Title -->
        <h4 class="card-title">Tractor</h4>
        <!-- Text -->
        <p class="card-text">MAHINDRA EXO,PRICE: 25,599</p>
        <!-- Button -->
        <a routerLink="/order" class="btn btn-primary">Order</a>
        <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
    
      </div>
    
    </div>
    <!-- Card -->
        </div>
        <div class="col-md-4">
          <!-- Card -->
  <div class="card">
  
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/o4.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    
      <!-- Card content -->
      <div class="card-body">
    
        <!-- Title -->
        <h4 class="card-title">SOIL PLOUGHER</h4>
        <!-- Text -->
        <p class="card-text">MAHINDRA EXO,PRICE: 30,599</p>
        <!-- Button -->
        <a routerLink="/order" class="btn btn-primary">Order</a>
        <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
    
      </div>
    
    </div>
    <!-- Card -->
        </div>
        <div class="col-md-4"><!-- Card -->
          <div class="card">
          
            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="../../../assets/o3.jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!-- Card content -->
            <div class="card-body">
          
              <!-- Title -->
              <h4 class="card-title">Tractor</h4>
              <!-- Text -->
              <p class="card-text">MAHINDRA EXO,PRICE: 20,599</p>
              <!-- Button -->
              <a routerLink="/order" class="btn btn-primary">Order</a>
              <a routerLink="/rentproduct" class="btn btn-primary">Rent</a>
          
            </div>
          
          </div>
          <!-- Card -->
        </div>
          
      </div>
</div>